@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(221, 221, 221);
}

#header {
    display: flex;
    height: 10vh;
    align-items: center;
}

#barrinha {
    display: flex;
    width: 0.2vw;
    background-color: brown;
    height: 7vh;
}

#espaço {
    display: flex;
    height: 0.2vh;
    background-color: brown;
}

#nada {
    display: flex;
    height: 1vh;
}

#grid {
    display: grid;
    height: 300vh;
    grid-template-columns: 20% 2.5% 20% 2.5% 20% 2.5% 20%;
    grid-template-rows: 28% 28% 28% 28% 28%;
    justify-content: center;
}

#motoA {
    grid-column-start: 1;
    display: flex;
    height: 80vh;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid;
}

#motoB {
    grid-column-start: 3;
    display: flex;
    height: 80vh;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid;
    border-left: 10px;
}

#motoC {
    grid-column-start: 5;
    display: flex;
    height: 80vh;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid;
    border-left: 10px;
}

#motoD {
    grid-column-start: 7;
    display: flex;
    height: 80vh;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid;
    border-left: 10px;
}

#motoE {
    grid-row-start: 2;
    display: flex;
    height: 80vh;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid;
    border-left: 10px;
}

#motoF {
    grid-row-start: 2;
    grid-column-start: 3;
    display: flex;
    height: 80vh;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid;
    border-left: 10px;
}

#motoG {
    grid-row-start: 2;
    grid-column-start: 5;
    display: flex;
    height: 80vh;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid;
    border-left: 10px;
}

#motoH {
    grid-row-start: 2;
    grid-column-start: 7;
    display: flex;
    height: 80vh;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid;
    border-left: 10px;
}


#imgmoto {
    display: flex;
    border-radius: 10px;
    height: 30vh;

}

#sobre-moto {
    display: flex;
    height: 50vh;
    width: 19.6vw;
    background-color: rgb(106, 106, 106);
    flex-direction: column;
    border-radius: 10px;
}

#foto-calendario {
    display: flex;
    height: 4vh;
    width: 2vw;
}

#info {
    display: flex;
    height: 16vh;
    width: 15vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#qulometragem {
    display: flex;
    height: 2vh;
    width: 1vw;
}

#lugar {
    display: flex;
    height: 2vh;
    width: 1vw;
    flex-direction: column;
}


#ano {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
}

#km {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
}

#local {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
}

#local h5 {
    width: 15vw;
}

#comprar {
    display: flex;
    background-color: grey;
    width: 15vw;
    height: 7vh;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

a {
    text-decoration: none;
}

#sobre-moto h3 {
    display: flex;
    height: 5vw;
}

#compra {
    display: flex;
    align-items: center;
    width: 15vw;
    justify-content: center;
}

#nome-loja {
    display: flex;
    flex-direction: row;
}

#azul {
    color: blue;
}

#roxo {
    color: purple;
}

#vermelho {
    color: red;
}

#jjj {
    display: flex;
    width: 30vw;
}

#rodape {
    display: flex;
    background-color: rgb(134, 133, 133);
    height: 20vh;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}