@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Tahoma, sans-serif;
}


#header {
    display: flex;
    height: 10vh;
    align-items: center;
    
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    border-right: 300px solid white;
}

#espaço {
    display: flex;
    height: 0.2vh;
    background-color: brown;
}

#barrinha {
    display: flex;
    width: 0.2vw;
    background-color: brown;
    height: 7vh;
}

#marca {
    display: flex;
    width: 10vw;
}

#foto-whatts {
    display: flex;
    width: 1vw;
    height: 2.5vh;
}

#contato {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 12vw;
    background-color: brown;
    height: 7vh;
    border-radius: 30px;
}

#local {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
    width: 17vw;
    height: 7vh;
    border-radius: 30px;
}

#contato-local {
    display: flex;
    justify-content: right;
    justify-content: space-around;
    width: 30vw;
    align-items: center;
}

#foto-do-baner-principal {
    display: flex;
    height: 73vh;
    justify-content: center;
    border-radius: 20px;
}
#foto-do-baner-principal img{
    display: flex;


}
#nada {
    display: flex;
    height: 1vh;
}
#rodape{
    display: flex;
    background-color: rgb(134, 133, 133);
    height: 20vh;
    align-items: center;
    border-radius: 20px;
}
#redes-contatos{
    display: flex;
    height: 20vh;
    width: 40vw;
    border-radius: 20px;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
}
#redes-contatos a{
    display: flex;
    text-decoration: none;
}

#redes-contatos Ins{
    display: flex;
    text-decoration: none;
    color: purple;
}
#redes-contatos Fac{
    display: flex;
    text-decoration: none;
    color: blue;
}


#nome-loja{
    display: flex;
    flex-direction: row;
}
#azul{
    color: blue;
}
#roxo{
    color: purple;
}
#vermelho {
    color: red;
}